
body{
    background-color: aliceblue; /*Color de fondo*/
}
.navbar-disney {
    background-color: pink; /*Color fondo del navbar*/
}

h3{
    text-align: center; /*Centra ek texto*/
    font-size: 35px; /*Tamaño de la letra*/
    font-family: fantasy; /*Tipo de letra*/
}

h1,h2{ /*Aprendí que puedo seleccionar más de un elemento para aplicarles las clases utilizando la coma ,*/
    font-size: 50px; 
    font-family: fantasy;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*muchas fuentes ya que no todas las computadoras tienen instaladas las mismas fuentes*/
    font-size: 18px;
}

.card-parque { /*card con efecto que gira*/
    width: 350px; /*ancho de la card*/
    height: 400px; /*Altura de la card*/
    position: relative; /*relative: "este elemento será utilizado como referencia para posicionar elementos que estén dentro de él".*/
    margin: auto; /*centra horizontalmente la card dentro del espacio disponible.*/
    
    transform-style: preserve-3d; /*Los elementos hijos de esta card deben mantener un espacio tridimensional*/
    transition: transform 0.6s; /*hace que el giro de la card sea suave*/
}

.card-front, /*Estoy aplicando las mismas propiedades a las dos caras de la card, me ahorro repetir código*/
.card-back {
    width: 100%; /*Ocupa el 100% del ancho de su elemento padre, o sea --> .card-parque*/
    height: 100%; /*Ocupa el 100% de altura de su elemento padre*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    position: absolute; /*permite colocar las dos caras de la card exactamente una encima de la otra.*/
    backface-visibility: hidden; /*Cuando esta cara esté mirando hacia atrás, no la muestres. Hidden: oculta*/

    border: 1px solid rgb(222, 226, 230); /*Crea el borde de la card: grosor, línea contínua, color*/
    border-radius: 15px; /*Redondea las esquinas de la card*/
    box-sizing: border-box; /*ancho total seguirá siendo 100%. Esto evita que el borde haga crecer inesperadamente la card.*/
}

.card-back { /**/
    transform: rotateY(180deg); /*Empieza el movimiento del giro de la ard: gira el elemento 180º sobre el eje Y*/
}

/*El código más importante del efecto de la card*/
 /*Cuando el checkbox esté seleccionado, gira la card 180 grados."*/

input:checked + label .card-parque {
    transform: rotateY(180deg); /*hace que la card gire.*/
}
 /*input:checked --> El input está seleccionado.
 + label --> Busca el label que está inmediatamente después
 .card-parque --> Dentro de ese label, busca .card-parque*/



input {
    display: none; /*Esto oculta el checkbox.
    
    Pero el checkbox sigue existiendo y puede cambiar entre seleccionado/no seleccionado*/
}

.card-front img { /*Esto selecciona las imágenes que están dentro de .card-front.*/
    width: 100%; /*La imagen ocupa todo el ancho disponible.*/
    height: 250px; /*La imagen tendrá 250px de alto.*/
    object-fit: cover; /*Hace que la imagen cubra completamente el espacio indicado sin deformarse.*/
}

.card-front {
    text-align: center; /*Centra el texto*/
    background-color: white; /*Color dle fondo*/
    overflow: hidden; /*Si algo se sale de los límites de la card, lo esconde*/
}

.card-back { /*Parte trasera de la card*/
    padding: 25px; /*Espacio interno*/
    text-align: center;
    background-color: white;
}

.card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 18rem; /*rem en lugar de px. 1rem=6px */
    height: 430px; /*Altura: esto ayuda a que todas las card tengan el mismo tamaño aunque tengan diferente cantidad de contenido.*/
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: 600; /*Controla grosor de la letra*/
}


.card-body {
    display: flex; /*Activa Flexbox: sistema para organizar elementos*/
    flex-direction: column; /*Le dice a Flexbox: organiza los elementos verticalmente.*/
    gap: 15px; /*separación entre los elementos. Forma muy cómoda de separar elementos cuando utilizas Flexbox*/
    height: 100%; /*Le dice a .card-body: intenta ocupar toda la altura disponible.*/
}

.card-body .btn { /*Selector conbinado: busca un elemento que tenga la clase .btn y que esté dentro de .card-body*/
     margin-top: auto; /*Utiliza todo el espacio vertical disponible antes de este elemento."*/
    width: 80px; /*botón tenga 80px de ancho*/
    align-self: center; /*El botón se alínea por si mismo en el centro*/
    background-color: rgb(230, 192, 236); /*color de fondo del botón: red, green, blue (rgb)*/
    border-color: rgb(222, 174, 241); /*color del borde del botón.*/
    color: black; /*color del texto boton.*/
}

footer {
    padding: 30px; /*espacio interno de un elemento. Deja 30 píxeles de espacio entre el contenido y los bordes del footer.*/
    text-align: center; /*Centra el texto*/
}

.footer-container {
    display: flex; /*Activa Flexbox (sirve para organizar elementos) los elementos hijos se colocan uno junto al otro: decide cómo se distribuyen los elementos*/
    justify-content: center; /*Pone todos los elementos en el centro.*/
    gap: 50px; /*crea espacio entre las columnas: Inicio Parques Atracciones Tierras*/
    margin-bottom: 30px; /*espacio fuera del elemento: deja 30px de espacio debajo de .footer-container*/
}

.footer-column { /*Esta clase corresponde a cada columna individual.*/
    display: flex; /*Activamos Flexbox otra vez*/
    flex-direction: column; /*Los elementos queden uno debajo del otro, en lugar de quedar en una sola línea.*/
    
}

.footer-column h4 {
    margin-bottom: 15px; /*Deja 15px de espacio debajo del título.*/
    font-size: 17px; /*tamaño de letra*/
}

.footer-column a { /*Controla los enlaces de cada columna:*/
    text-decoration: none; /*Esta propiedad elimina lo subrayado debajo del texto del enlace:*/
    margin-bottom: 8px; /*Agrega 8px de separación debajo de cada enlace.*/
    color: black; /*Aquí cambiamos a color negro el enlace, antes era azulte*/
    font-size: 12px; /*Tamaño de letra*/

}